.styleThanks {
    display: flex;
    flex-direction: column;
}

.styleThanks div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.styleThanks div p {
    font-size: 20px;
}

